<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aserbao.camera">

    <uses-permission android:name="android.permission.CAMERA" />
    <application>
        <activity android:name=".act.Camera2Activity"></activity>
        <activity
            android:name=".camerax.CameraXPreviewActivity"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity android:name=".act.CameraActivity" />
    </application>

</manifest>