<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aserbao.jetpack">

    <application>
        <activity android:name=".architecture.ArchitectureAct"></activity>
        <activity android:name=".JetpackAct" />
    </application>

</manifest>