<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aserbao.thirdlibs">

    <application>
        <activity android:name=".tablayout.TabLayoutAct" />
        <activity android:name=".ThirdLibActivity" />
    </application>

</manifest>