<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aserbao.aserbaosandroid">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".AserbaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".Cameratest.OneCameraActivity" />
        <activity android:name=".opengl.OpenGlActivity" />
        <activity android:name=".ui.recyclerview.RecyclerViewActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".opengl.OneOpenGl.OneOpenGlActivity" />
        <activity android:name=".opengl.openGlCamera.FuCameraActivity" />
        <activity android:name=".opengl.openGlCamera.OpenGlAnimationCamera" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraSurfaceViewShowActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".opengl.openGlCamera.FilterCameraActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleOne.CameraOpenglActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleFilter.SimpleFilterCameraActivity" />
        <activity android:name=".designMode.strategyMode.StrategyActivity" />
        <activity android:name=".designMode.DesignModeActivity" />
        <activity android:name=".designMode.observerMode.ObserverActivity" />
        <activity android:name=".media.MediaActivity" />
        <activity android:name=".media.videoView.VideoViewActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraTextureViewShowActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraShowActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraGlSurfaceShowActivity" />
        <activity android:name=".ui.customView.CustomViewActivity" />
        <activity android:name=".media.audio.AudioRecordActivity" />
        <activity android:name=".designMode.decoratorPattern.DecoratorActivity" />
        <activity android:name=".media.mediaplayer.MediaPlayerActivity" />
        <activity
            android:name=".opengl.openGlCamera.recordCamera.RecordCameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".media.mediaMuxer.MediaMuxerActivity" />
        <activity android:name=".designMode.factoryMode.FactoryActivity" />
        <activity android:name=".ui.recyclerview.aEffect.EffectRVActivity" />
        <activity android:name=".media.mediacodec.mcRecordVideo.MCRecordVideoActivity" />
        <activity android:name=".media.mediacodec.MediaCodecActivity" />
        <activity android:name=".ui.rv.RecyclerViewActivity" />
        <activity android:name=".ui.UIActivity" />
        <activity android:name=".ui.colorPicker.ColorPickerActivity" />
        <activity android:name=".ui.rv.moveToDeleteRecyclerView.MoveToDeleteActivity" />
        <activity android:name=".ui.texts.editTexts.EditTextsActivity" />
        <activity
            android:name=".ui.texts.editTexts.softHeightMeasure.SoftHeightMeasureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />
        <!-- android:windowSoftInputMode="adjustNothing" -->
        <activity android:name=".ui.rv.commonRecyclerView.CommonRecyclerViewActivity" />
        <activity android:name=".functions.FunctionsActivity" />
        <activity android:name=".functions.jumpSystemSetting.JumpSystemSettingActivity" />
        <activity android:name=".ui.rv.commonRecyclerView.baseAdapter.BaseAdapterActivity" />
        <activity android:name=".ui.toasts.ToastActivity" />
        <activity android:name=".ui.toasts.aCustomToast.ACustomToastActivity" />
        <activity android:name=".functions.events.EventDealActivity" />
        <activity android:name=".functions.events.scrollEvent.ScrollEventActivity" />
        <activity android:name=".media.exoplayer.ExoPlayerPActivity" />
        <activity android:name=".media.exoplayer.playerlist.PlayListActivity" />
        <activity android:name=".ui.texts.textViews.TextViewsActivity" />
        <activity android:name=".ui.texts.textViews.shadowText.TextShadowActivity" />
        <activity android:name=".functions.cache.CacheActivity" />
        <activity android:name=".functions.cache.aSimpleCache.ASimpleCacheActivity" />
        <activity
            android:name=".ui.texts.editTexts.autoAdjustSoftHeight.fullScreen.AutoAdjustSoftHeightActivity"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity android:name=".ui.constantUtilsShow.ConstantsUtilsShowActivity" />
        <activity
            android:name=".ui.texts.editTexts.autoAdjustSoftHeight.fullScreen.OneEditTextFullScreenActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.texts.editTexts.autoAdjustSoftHeight.FullDragDemoActivity" />
        <activity android:name=".ui.simpleDraw.SimpleDrawActivity" />
        <activity android:name=".ui.texts.TextsActivity" />
        <activity
            android:name=".ui.texts.textViews.picTxt.PicTxtActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.texts.textViews.htmlText.HtmlTextActivity" />
        <activity android:name=".component.activitys.ActivitySummary" />
        <activity android:name=".component.activitys.lifeCycle.LifeCycleActivity" />
        <activity android:name=".component.activitys.lifeCycle.LifeCycle2Activity" />
        <activity android:name=".component.activitys.lifeCycle.LifeCycle3Activity" />
        <activity android:name=".ui.texts.textViews.simple.SimpleTextViewActivity" />
        <activity android:name=".functions.database.greenDao.GreenDaoActivity" />
        <activity android:name=".functions.database.DataBaseActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".functions.database.mySql.MySqlActivity" />
        <activity android:name=".AUtils.utils_realize.AUtilsRealizeActivity" />
        <activity android:name=".ui.animation.AnimationActivity" />
        <activity android:name=".ui.animation.fragments3DAnimation.Fragment3DAnimationActivity" />
        <activity android:name=".ui.animation.recyclerItemAnimation.RecyclerViewItemAnimationActivity" />
        <activity android:name=".ui.animation.cubeAnimation.CubeAnimationActivity" />
        <activity android:name=".functions.events.recyclerviewEvent.RecyclerViewEventActivity" />
        <activity android:name=".functions.iamgePhotoshop.ImagePhotoShopActivity" />
        <activity android:name=".functions.iamgePhotoshop.blur.ImageBlurActivity" />
        <activity android:name=".functions.iamgePhotoshop.compound.CompoundActivity"></activity>
    </application>

</manifest>