<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aserbao.aserbaosandroid">

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".AserbaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".Cameratest.OneCameraActivity" />
        <activity android:name=".opengl.OpenGlActivity" />
        <activity android:name=".ui.recyclerview.RecyclerViewActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".opengl.OneOpenGl.OneOpenGlActivity" />
        <activity android:name=".opengl.openGlCamera.FuCameraActivity" />
        <activity android:name=".opengl.openGlCamera.OpenGlAnimationCamera" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraSurfaceViewShowActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity android:name=".opengl.openGlCamera.FilterCameraActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleOne.CameraOpenglActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleFilter.SimpleFilterCameraActivity" />
        <activity android:name=".designMode.strategyMode.StrategyActivity" />
        <activity android:name=".designMode.DesignModeActivity" />
        <activity android:name=".designMode.observerMode.ObserverActivity" />
        <activity android:name=".AudioAndVideo.media.MediaActivity" />
        <activity android:name=".AudioAndVideo.media.videoView.VideoViewActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraTextureViewShowActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraShowActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraGlSurfaceShowActivity" />
        <activity android:name=".ui.customView.CustomViewActivity" />
        <activity android:name=".AudioAndVideo.media.audio.AudioRecordActivity" />
        <activity android:name=".designMode.decoratorPattern.DecoratorActivity" />
        <activity android:name=".AudioAndVideo.media.mediaplayer.MediaPlayerActivity" />
        <activity
            android:name=".opengl.openGlCamera.recordCamera.RecordCameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".AudioAndVideo.media.mediaMuxer.MediaMuxerActivity" />
        <activity android:name=".designMode.factoryMode.FactoryActivity" />
        <activity android:name=".ui.recyclerview.aEffect.EffectRVActivity" />
        <activity android:name=".AudioAndVideo.media.mediacodec.mcRecordVideo.MCRecordVideoActivity" />
        <activity android:name=".AudioAndVideo.media.mediacodec.MediaCodecActivity" />
        <activity android:name=".ui.rv.RecyclerViewActivity" />
        <activity android:name=".ui.UIActivity" />
        <activity android:name=".ui.colorPicker.ColorPickerActivity" />
        <activity android:name=".ui.rv.moveToDeleteRecyclerView.MoveToDeleteActivity" />
        <activity android:name=".ui.texts.editTexts.EditTextsActivity" />
        <activity
            android:name=".ui.texts.editTexts.softHeightMeasure.SoftHeightMeasureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />
        <!-- android:windowSoftInputMode="adjustNothing" -->
        <activity android:name=".ui.rv.commonRecyclerView.CommonRecyclerViewActivity" />
        <activity android:name=".functions.FunctionsActivity" />
        <activity android:name=".functions.jumpSystemSetting.JumpSystemSettingActivity" />
        <activity android:name=".ui.rv.commonRecyclerView.baseAdapter.BaseAdapterActivity" />
        <activity android:name=".ui.toasts.ToastActivity" />
        <activity android:name=".ui.toasts.aCustomToast.ACustomToastActivity" />
        <activity android:name=".functions.events.EventDealActivity" />
        <activity android:name=".functions.events.scrollEvent.ScrollEventActivity" />
        <activity android:name=".AudioAndVideo.media.exoplayer.ExoPlayerPActivity" />
        <activity android:name=".AudioAndVideo.media.exoplayer.playerlist.PlayListActivity" />
        <activity android:name=".ui.texts.textViews.TextViewsActivity" />
        <activity android:name=".ui.texts.textViews.shadowText.TextShadowActivity" />
        <activity android:name=".functions.cache.CacheActivity" />
        <activity android:name=".functions.cache.aSimpleCache.ASimpleCacheActivity" />
        <activity
            android:name=".ui.texts.editTexts.autoAdjustSoftHeight.fullScreen.AutoAdjustSoftHeightActivity"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity android:name=".ui.constantUtilsShow.ConstantsUtilsShowActivity" />
        <activity
            android:name=".ui.texts.editTexts.autoAdjustSoftHeight.fullScreen.OneEditTextFullScreenActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.texts.editTexts.autoAdjustSoftHeight.FullDragDemoActivity" />
        <activity android:name=".ui.simpleDraw.SimpleDrawActivity" />
        <activity android:name=".ui.texts.TextsActivity" />
        <activity
            android:name=".ui.texts.textViews.picTxt.PicTxtActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.texts.textViews.htmlText.HtmlTextActivity" />
        <activity android:name=".component.activitys.ActivitySummary" />
        <activity android:name=".component.activitys.lifeCycle.LifeCycleActivity" />
        <activity android:name=".component.activitys.lifeCycle.LifeCycle2Activity" />
        <activity android:name=".component.activitys.lifeCycle.LifeCycle3Activity" />
        <activity android:name=".ui.texts.textViews.simple.SimpleTextViewActivity" />
        <activity android:name=".functions.database.greenDao.GreenDaoSimpleActivity" />
        <activity android:name=".functions.database.DataBaseActivity" />
        <activity android:name=".functions.database.mySql.MySqlActivity" />
        <activity android:name=".AUtils.utils_realize.AUtilsRealizeActivity" />
        <activity android:name=".ui.animation.AnimationActivity" />
        <activity android:name=".ui.animation.fragments3DAnimation.Fragment3DAnimationActivity" />
        <activity android:name=".ui.animation.recyclerItemAnimation.RecyclerViewItemAnimationActivity" />
        <activity android:name=".ui.animation.cubeAnimation.CubeAnimationActivity" />
        <activity android:name=".functions.events.recyclerviewEvent.RecyclerViewEventActivity" />
        <activity android:name=".functions.iamgePhotoshop.ImagePhotoShopActivity" />
        <activity android:name=".functions.iamgePhotoshop.blur.ImageBlurActivity" />
        <activity android:name=".functions.iamgePhotoshop.compound.CompoundActivity" />
        <activity android:name=".ui.rv.addItemRecyclerView.AddRecyclerViewActivity" />
        <activity android:name=".ui.texts.editTexts.others.OthersActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".AudioAndVideo.AudioAndVideoActivity" />
        <activity android:name=".AudioAndVideo.jnis.JnisActivity" />
        <activity android:name=".AudioAndVideo.jnis.javaCallC.JavaCallCActivity" />
        <activity android:name=".functions.database.greenDao.relation.GreenDaoRelationActivity" />
        <activity android:name=".functions.database.greenDao.GreenDaoActivity" />
        <activity android:name=".other.OthersActivity" />
        <activity android:name=".other.compare.CompareActivity" />
        <activity android:name=".AudioAndVideo.media.image2video.Image2VideoActivity" />
        <activity android:name=".AudioAndVideo.media.image2video.jcodec.JCodecImage2VideoActivity" />
        <activity android:name=".functions.how_create_so.HowCreateSoActivity" />
        <activity android:name=".functions.how_create_so.useNdk.UseNdkBuildSoActivity" />
        <activity android:name=".functions.how_create_so.useCmake.UseCMakeBuildSoActivity" />
        <activity android:name=".functions.how_create_so.useNdkBuild.UseNdkBuildActivity" />
        <activity android:name=".functions.sensors.SharkActivity" />
        <activity android:name=".ui.animation.lottie.LottieActivity" />
        <activity android:name=".functions.sensors.SensorsActivity" />
        <activity
            android:name=".functions.sensors.testSensorData.TestSensorDataActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".AudioAndVideo.detail_Info.DetailInfoActivity" />
        <activity android:name=".AudioAndVideo.detail_Info.iamgeInfo.ImageInfoActivity" />
        <activity android:name=".functions.network.NetWorkActivity" />
        <activity android:name=".functions.network.okhttp.OkhttpActivity" />
        <activity android:name=".ui.cardView.CardViewActivity" />
        <activity android:name=".ui.cardView.simpleCardView.SimpleCardViewActivity" />
        <activity
            android:name=".ui.texts.editTexts.customEdittext.CustomEditTextActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".functions.network.mqtt.simple.SimpleMqttActivity" />
        <activity android:name=".functions.events.viewTouch.ViewTouchActivity" />
        <activity android:name=".functions.events.viewTouch.outSideTouch.OutSideActivity" />
        <activity android:name=".ui.animation.explosionAnimation.viewExplosion.ViewExplosionActivity" />
        <activity android:name=".ui.animation.moveAnimation.MoveAnimActivity" />
        <activity android:name=".ui.animation.explosionAnimation.ExplosionActivity" />
        <activity android:name=".ui.animation.explosionAnimation.leonids.LeonidsActivity" />
        <activity android:name=".system.SystemActivity" />
        <activity android:name=".system.handlers.HandlerActivity" />
        <activity android:name=".system.handlers.principle_for_handler.PrincipleHanlderActivity" />
        <activity android:name=".ui.recyclerView.scale_smooth_slide.scale_smooth_slide_one_method.ScaleSmoothSlideOneActivity" />
        <activity android:name=".ui.recyclerView.scale_smooth_slide.scale_smooth_slide_two_method.ScaleSmoothSlideTwoActivity" />
        <activity android:name=".ui.recyclerView.scale_smooth_slide.ScaleSmoothSlideActivity" />
        <activity android:name=".functions.hobbies_and_interests.HobbiesAndInterestsActivity" />
        <activity android:name=".functions.hobbies_and_interests.urlAnalyze.UrlAnalyzeActivity" />
        <activity android:name=".ui.texts.textViews.textShowAnimation.TextShowAnimationActivity" />
        <activity android:name=".functions.hobbies_and_interests.douyinUrl.ADYUrlActivity">
        </activity>
        <activity android:name=".ui.randomAndNoOverLay.RandomAndNoOverLayActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>