<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.aserbao.aserbaosandroid">
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.USE_FINGERPRINT" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_DELETE_PACKAGES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <application
        android:name=".AserbaoApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/like"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/aserbao_downloader_config"
        android:roundIcon="@drawable/like"
        android:supportsRtl="true"
        android:theme="@style/AFullscreenTheme">
        <activity
            android:name=".ui.webview.js.JsAct"
            android:exported="true" />
        <activity
            android:name=".ui.webview.WebViewActivity"
            android:exported="true" />
        <activity android:name=".aaThird.gson.GsonActivity" />
        <activity android:name=".ui.animation.viewAnimation.ViewAnimationActivity" />
        <activity android:name=".ui.customView.selector.SelectorActivity" />
        <activity android:name=".aaSource.java.util.concurrent.FutureAct" />
        <activity android:name=".aaSource.java.util.JavaUtilAct" />
        <activity android:name=".aaSource.java.JavaAct" />
        <activity android:name=".functions.appLink.AppLinkAct">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="www.example.com"
                    android:pathPrefix="/gizmos"
                    android:scheme="http" />
            </intent-filter>
        </activity>
        <activity android:name=".kotlin.base.KotlinBaseUseAct" />
        <activity
            android:name=".ui.texts.editTexts.customEdittext.CustomEditTextAct"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity android:name=".functions.ffmpeg.RxFFmpegAct" />
        <activity android:name=".aaSource.android.hardware.camera2.show.Camera2SurfaceViewActivity" />
        <activity android:name=".opengl.OneOpenGl.texture.OpenGlTextureAct" />
        <activity android:name=".opengl.videoandcamera.VideoAndCameraShowACT" />
        <activity android:name=".opengl.videoshow.VideoShowGlSurfaceViewACT" />
        <activity android:name=".functions.aaSmallFunctions.lambda.LambdaActivity" />
        <activity android:name=".kotlin.coroutine.CoroutineActivity" />
        <activity android:name=".aaSource.android.widget.Classes.scroller.ScrollerActivity" />
        <activity android:name=".ui.viewPager.ViewPagerActivity" />
        <activity android:name=".kotlin.scopes.KotlinScopeFunctionsActivity" />
        <activity android:name=".aaThird.jetpack.liveData.LiveDataActivity" />
        <activity android:name=".ui.texts.textViews.font.TextFontActivity" />
        <activity android:name=".aaSource.android.widget.Classes.progressBar.ProgressBarActivity" />
        <activity android:name=".aaSource.android.hardware.camera2.show.Camera2GlsurfaceViewActivity" />
        <activity android:name=".aaSource.android.hardware.camera2.show.doubleshow.DoobleCamera2VideoGVActivity" />
        <activity android:name=".ui.customView.seekbar.SeekBarActivity" />
        <activity android:name=".aaSource.android.support.design.widget.CoordinatorLayout.PhotoGalleryAct" />
        <activity android:name=".aaSource.android.widget.Classes.GridView.GridViewActivity" />
        <activity android:name=".aaSource.android.material.bottomSheetDialog.BottomSheetDialogActivity" />
        <activity android:name=".kotlin.KotlinActivity" />
        <activity android:name=".aaSource.android.widget.Classes.FrameLayout.FragmentLayoutActivity" />
        <activity android:name=".aaSource.android.view.ViewGroup.ViewGroupActivity" />
        <activity android:name=".aaSource.android.view.Choreographer.ChoreographerActivity" />
        <activity android:name=".aaSource.android.view.ViewActivity" />
        <activity android:name=".functions.database.room.RoomActivity" />
        <activity android:name=".functions.aaSmallFunctions.clickEffect.ClickEffectActivity" />
        <activity android:name=".functions.aaSmallFunctions.SmallFunctionsActivity" />
        <activity android:name=".aaSource.android.hardware.camera2.show.Camera2SimpleShowSVActivity" />
        <activity android:name=".aaSource.android.hardware.camera2.capture.Camera2CaptuerActivity" />
        <activity android:name=".ui.buttons.switchView.SwitchActivity" />
        <activity android:name=".ui.buttons.switchButton.SwitchButtonActivity" />
        <activity android:name=".aaSource.android.app.Activity.animation.activityOptions.share_module.CShareModuleActivity" />
        <activity android:name=".aaSource.android.hardware.camera2.Camera2Activity" />
        <activity android:name=".aaSource.android.hardware.HardwareActivity" />
        <activity android:name=".aaSource.android.java.util.concurent.executor.ThreadPoolExecutorActivity" />
        <activity android:name=".aaSource.android.media.mediaRecorder.MediaRecorderVideoActivity" />
        <activity android:name=".aaSource.android.media.mediaRecorder.MediaRecorderAudioActivity" />
        <activity android:name=".aaSource.android.media.mediaRecorder.MediaRecorderActivity" />
        <activity android:name=".aaSource.android.media.mediaCodec.demo.decode.DecodeVideoShowGlSurfaceViewActivity" />
        <activity android:name=".aaThird.pickvideo.VideoPickActivity" />
        <activity android:name=".aaSource.android.media.mediaCodec.demo.decode.DecodeShowVideoActivity" />
        <activity android:name=".aaSource.android.media.mediaCodec.MediaCodecActivity" />
        <activity android:name=".aaSource.android.media.MediaActivity" />
        <activity android:name=".functions.aboutBitmap.createBitmap.CreateBitmapActivity" />
        <activity android:name=".ui.recyclerView.animator.itemARCMAnimation.ItemARCMAnimationActivity" />
        <activity android:name=".ui.recyclerView.animator.swapItemAnimator.ChangeItemAnimatorActivity" />
        <activity android:name=".aaThird.rxJava3.api.RxJava3ApiActivity" />
        <activity android:name=".aaThird.zt_zip.ZtZipActivity" />
        <activity android:name=".aaThird.rxJava3.download.RxJavaDownLoadActivity" />
        <activity android:name=".aaSource.android.os.handler.HandlerActivity" />
        <activity android:name=".functions.events.demo.rvAndButton.RVAndButtonEventActivity" />
        <activity android:name=".functions.regex.RegexActivity" />
        <activity android:name=".aaSource.android.os.handler.download.HandlerCommunicationActivity" />
        <activity android:name=".aaSource.android.os.AndroidOSActivity" />
        <activity android:name=".aaThird.rxJava3.RxJavaActivity" />
        <activity android:name=".ui.recyclerView.recyclerViewPickView.RecyclerViewPickActivity" />
        <activity
            android:name=".functions.cutout.CutOutActivity"
            android:launchMode="singleTask"
            android:theme="@style/CutoutTheme" />
        <activity android:name=".aaSource.android.support.design.widget.CoordinatorLayout.CoordinatorLayoutActivity" />
        <activity android:name=".aaSource.android.support.design.widget.BottomNavigationView.BottomNavigationActivity" />
        <activity android:name=".other.valuePass.ValuePassActivity" />
        <activity android:name=".ui.animation.baseAnimation.tweenAnimator.TweenAnimatorActivity" />
        <activity android:name=".ui.animation.baseAnimation.BaseAnimation" />
        <activity android:name=".ui.animation.baseAnimation.objectAnimator.ObjectAnimatorActivity" />
        <activity android:name=".aaSource.android.app.Activity.animation.activityOptions.transition.TransitionActivity" />
        <activity android:name=".ui.recyclerView.animator.AnimatorRecyclerViewActivity" />
        <activity android:name=".ui.canvas.blendmode.BlendModeActivity" />
        <activity android:name=".aaSource.android.app.Fragment.ShareElementFragment.ShareElementActivity" />
        <activity android:name=".aaSource.android.app.Fragment.FragmentActivity" />
        <activity android:name=".designMode.singleMode.SingleModeActivity" />
        <activity android:name=".ui.canvas.shadows.ShadowsActivity" />
        <activity android:name=".ui.imageviews.ImageViewsActivity" />
        <activity android:name=".aaThird.okdownload.OkDownLoadActivity" />
        <activity android:name=".algorithm.sort.SortAlgorithmActivity" />
        <activity android:name=".functions.iamgePhotoshop.blur.BlurImageActivity" />
        <activity android:name=".functions.iamgePhotoshop.blur.mmin18.MMin18Activity" />
        <activity android:name=".aaThird.okhttp.OkhttpActivity" />
        <activity android:name=".functions.aboutBitmap.pineColor.PineColorBitmapActivity" />
        <activity android:name=".functions.aboutBitmap.createLong.CreateLongBitmapActivity" />
        <activity android:name=".functions.aboutBitmap.AboutBitmapActivity" />
        <activity android:name=".aaSource.android.widget.Classes.AdapterView.AdapterViewActivity" />
        <activity android:name=".functions.events.onTouch.double_recycler_nest.DoubleRecyclerNestActivity" />
        <activity android:name=".algorithm.list.AboutListSortActivty" />
        <activity android:name=".algorithm.AlgorithmActivity" />
        <activity android:name=".functions.notifacations.networks.NetWorkNotification" />
        <activity android:name=".aaThird.videocache.VideoCacheActivity" />
        <activity android:name=".ui.texts.textViews.custom.CustomTextViewActivity" />
        <activity android:name=".aaThird.fragmentation.Fragmentation" />
        <activity android:name=".aaSource.android.support.constraint.ConstraintLayoutActvity" />
        <activity android:name=".aaSource.android.support.constraint.ConstraintLayoutActvity2" />
        <activity android:name=".aaSource.android.support.SupportActivity" />
        <activity android:name=".ui.customView.CustomViewActivity" />
        <activity android:name=".aaSource.android.widget.Classes.notification.NotificationActivity" />
        <activity android:name=".HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".functions.launch.demo.LaunchDemoActivity">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".functions.launch.LaunchActivity" />
        <activity android:name=".aaSource.android.widget.Classes.Menu.MenuDemo.MenuDemoActivity" />
        <activity android:name=".aaSource.android.widget.Classes.Menu.MenuActivity" />
        <activity android:name=".aaSource.android.material.floatView.FloatWindowActivity" />
        <activity android:name=".functions.listener.constractListener.ConstractListener" />
        <activity android:name=".functions.listener.ListenerActivity" />
        <activity
            android:name=".aaSource.android.accessibilityservice.accessibilityService.MyAccessibilityServiceActivity"
            android:screenOrientation="portrait"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".aaSource.android.accessibilityservice.AccessibilityServiceActivity" />
        <activity android:name=".aaSource.android.app.Activity.animation.sideAnimation.SlideItemAnimationActivity" />
        <activity android:name=".ui.buttons.ButtonActivity" />
        <activity android:name=".aaThird.dagger2.DaggerActivity" />
        <activity android:name=".aaThird.ThirdActivity" />
        <activity android:name=".functions.jump2OtherApp.Jump2OtherActivity" />
        <activity
            android:name=".functions.events.onTouch.OnTouchActivity"
            android:launchMode="singleTop"
            android:theme="@style/Guide_Theme" />
        <activity android:name=".ui.animation.reside.ResideActivity" />
        <activity
            android:name=".ui.animation.scalpeAnimation.ScalpeAniamtionActivity"
            android:theme="@style/windowIsTranslucent" />
        <activity android:name=".audioAndVideo.media.jCVideoPlayer.play.JCPlayerActivity" />
        <activity android:name=".audioAndVideo.media.jCVideoPlayer.live.JCLivePlayerActivity" />
        <activity android:name=".audioAndVideo.media.jCVideoPlayer.JCVideoPlayerActivity" />
        <activity android:name=".aaSource.android.material.button.MaterialButtonActivity" />
        <activity android:name=".aaSource.android.material.MaterialActivity" />
        <activity
            android:name=".aaSource.android.app.Activity.animation.activityOptions.share_module.BShareModuleActivity"
            android:theme="@style/windowIsTranslucent" />
        <activity
            android:name=".aaSource.android.app.Activity.animation.activityOptions.share_module.AShareModuleActivity"
            android:theme="@style/CustomShareTheme" />
        <activity android:name=".aaSource.android.app.Activity.animation.activityOptions.officalTransition.AActivityOptionsActivity" />
        <activity android:name=".aaSource.android.app.Activity.animation.activityOptions.officalTransition.BActivityOptionsActivity" />
        <activity android:name=".aaSource.android.app.Activity.animation.byOverridePendingTransition.AAnimationActivity" />
        <activity
            android:name=".aaSource.android.app.Activity.animation.byTheme.AByThemeAnimationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/a_by_theme_animation_theme" />
        <activity
            android:name=".aaSource.android.app.Activity.animation.byTheme.BByThemeAnimationActivity"
            android:launchMode="standard" />
        <activity android:name=".aaSource.android.app.Activity.animation.AnimationActivty" />
        <activity android:name=".aaSource.android.app.Activity.functions.FunctionActivity" />
        <activity android:name=".aaSource.android.app.Activity.launchMode.LaunchModeActivity" />
        <activity
            android:name=".aaSource.android.app.Activity.launchMode.StandardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaSource.android.app.Activity.launchMode.SingleInstanceActivity"
            android:launchMode="singleInstance"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaSource.android.app.Activity.launchMode.SingleTopActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaSource.android.app.Activity.launchMode.SingleTaskActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".aaSource.android.app.Activity.TabbedActivity"
            android:label="@string/title_activity_tabbed"
            android:launchMode="singleInstance"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aaSource.android.app.Activity.SettingsActivity"
            android:label="@string/title_activity_settings" />
        <activity
            android:name=".aaSource.android.app.Activity.ScrollingActivity"
            android:label="@string/title_activity_scrolling"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aaSource.android.app.Activity.NavigationDrawerActivity"
            android:label="@string/title_activity_navigation_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".aaSource.android.app.AppActivity" />
        <activity android:name=".aaSource.android.AndroidActivity" />
        <activity
            android:name=".aaSource.android.app.Activity.PersonListActivity"
            android:label="@string/title_person_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".aaSource.android.app.Activity.PersonDetailActivity"
            android:label="@string/title_person_detail"
            android:parentActivityName=".aaSource.android.app.Activity.PersonListActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.aserbao.aserbaosandroid.aaSource.android.app.Activity.PersonListActivity" />
        </activity>
        <activity
            android:name=".aaSource.android.app.Activity.LoginActivity"
            android:label="@string/title_activity_login" />
        <activity
            android:name=".aaSource.android.app.Activity.FullscreenActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_fullscreen"
            android:theme="@style/FullscreenTheme" />
        <activity android:name=".aaSource.android.app.Activity.FragmentViewModelActivity" />
        <activity
            android:name=".aaSource.android.app.Activity.BottomNavigationActivity"
            android:label="@string/title_activity_bottom_navigation" />
        <activity
            android:name=".aaSource.android.app.Activity.BasicActivity"
            android:label="@string/title_activity_basic"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".aaSource.android.app.Activity.ActivityClass" />
        <activity android:name=".aaSource.android.widget.Classes.popupwindow.demo.PopupWindowSimpleDemo" />
        <activity android:name=".aaSource.android.widget.Classes.popupwindow.PopupWindowActivity" />
        <activity android:name=".aaSource.android.widget.Classes.AndroidWidgetClasses" />
        <activity
            android:name=".ui.recyclerView.smooth.SmoothActivitiy"
            android:screenOrientation="portrait" />
        <activity android:name=".functions.how_create_so.create_spot.TestBeatActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".cameratest.OneCameraActivity" />
        <activity android:name=".opengl.OpenGlActivity" />
        <activity android:name=".ui.recyclerView.RecyclerViewActivity" />
        <activity android:name=".opengl.OneOpenGl.OneOpenGlActivity" />
        <activity android:name=".opengl.openGlCamera.FuCameraActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraSurfaceViewShowActivity" />
        <activity android:name=".opengl.openGlCamera.FilterCameraActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleOne.CameraOpenglActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleFilter.SimpleFilterCameraActivity" />
        <activity android:name=".designMode.strategyMode.StrategyActivity" />
        <activity android:name=".designMode.DesignModeActivity" />
        <activity android:name=".designMode.observerMode.ObserverActivity" />
        <activity android:name=".audioAndVideo.media.MediaActivity" />
        <activity android:name=".audioAndVideo.media.videoView.VideoViewActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraTextureViewShowActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraShowActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraGlSurfaceShowActivity" />
        <activity android:name=".opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraSurfaceTextureShowActivity" />
        <activity android:name=".ui.customView.countdownView.AboutTimeViewActivity" />
        <activity android:name=".audioAndVideo.media.audio.AudioRecordActivity" />
        <activity android:name=".designMode.decoratorPattern.DecoratorActivity" />
        <activity android:name=".audioAndVideo.media.mediaplayer.MediaPlayerActivity" />
        <activity
            android:name=".opengl.openGlCamera.recordCamera.RecordCameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".audioAndVideo.media.mediaMuxer.MediaMuxerActivity" />
        <activity android:name=".designMode.factoryMode.FactoryActivity" />
        <activity android:name=".audioAndVideo.media.mediacodec.mcRecordVideo.MCRecordVideoActivity" />
        <activity android:name=".audioAndVideo.media.mediacodec.MediaCodecActivity" />
        <activity android:name=".ui.UIActivity" />
        <activity android:name=".ui.colorPicker.ColorPickerActivity" />
        <activity android:name=".ui.recyclerView.moveToDeleteRecyclerView.MoveToDeleteActivity" />
        <activity android:name=".ui.texts.editTexts.EditTextsActivity" />
        <activity
            android:name=".ui.texts.editTexts.softHeightMeasure.SoftHeightMeasureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateUnspecified" /> <!-- android:windowSoftInputMode="adjustNothing" -->
        <activity android:name=".ui.recyclerView.commonRecyclerView.CommonRecyclerViewActivity" />
        <activity android:name=".functions.FunctionsActivity" />
        <activity android:name=".functions.jumpSystemSetting.JumpSystemSettingActivity" />
        <activity android:name=".ui.recyclerView.commonRecyclerView.baseAdapter.BaseAdapterActivity" />
        <activity android:name=".ui.toasts.ToastActivity" />
        <activity android:name=".ui.toasts.aCustomToast.ACustomToastActivity" />
        <activity android:name=".functions.events.EventDealActivity" />
        <activity
            android:name=".functions.events.scrollEvent.ScrollEventActivity"
            android:theme="@style/CustomTransparentTheme" />
        <activity android:name=".audioAndVideo.media.exoplayer.ExoPlayerPActivity" />
        <activity android:name=".audioAndVideo.media.exoplayer.playerlist.PlayListActivity" />
        <activity android:name=".ui.texts.textViews.TextViewsActivity" />
        <activity android:name=".ui.texts.textViews.shadowText.TextShadowActivity" />
        <activity android:name=".functions.cache.CacheActivity" />
        <activity android:name=".functions.cache.aSimpleCache.ASimpleCacheActivity" />
        <activity
            android:name=".ui.texts.editTexts.autoAdjustSoftHeight.fullScreen.AutoAdjustSoftHeightActivity"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity
            android:name=".ui.texts.editTexts.autoAdjustSoftHeight.fullScreen.OneEditTextFullScreenActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.texts.editTexts.autoAdjustSoftHeight.FullDragDemoActivity" />
        <activity android:name=".ui.simpleDraw.SimpleDrawActivity" />
        <activity android:name=".ui.texts.TextsActivity" />
        <activity
            android:name=".ui.texts.textViews.picTxt.PicTxtActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".ui.texts.textViews.htmlText.HtmlTextActivity" />
        <activity android:name=".aaSource.android.app.Activity.lifeCycle.LifeCycleActivity" />
        <activity android:name=".aaSource.android.app.Activity.lifeCycle.LifeCycle2Activity" />
        <activity
            android:name=".aaSource.android.app.Activity.lifeCycle.LifeCycle3Activity"
            android:theme="@style/CustomTransparentTheme" />
        <activity android:name=".ui.texts.textViews.simple.SimpleTextViewActivity" />
        <activity android:name=".functions.database.greenDao.GreenDaoSimpleActivity" />
        <activity android:name=".functions.database.DataBaseActivity" />
        <activity android:name=".functions.database.mySql.MySqlActivity" />
        <activity android:name=".AUtils.utils_realize.AUtilsRealizeActivity" />
        <activity android:name=".ui.animation.AnimationActivity" />
        <activity android:name=".ui.animation.fragments3DAnimation.Fragment3DAnimationActivity" />
        <activity android:name=".ui.animation.recyclerItemAnimation.RecyclerViewItemAnimationActivity" />
        <activity android:name=".ui.animation.cubeAnimation.CubeAnimationActivity" />
        <activity
            android:name=".functions.events.recyclerviewEvent.RecyclerViewEventActivity"
            android:theme="@style/CustomTransparentTheme" />
        <activity android:name=".functions.iamgePhotoshop.ImagePhotoShopActivity" />
        <activity android:name=".functions.iamgePhotoshop.blur.ImageBlurActivity" />
        <activity android:name=".functions.iamgePhotoshop.compound.CompoundActivity" />
        <activity android:name=".ui.recyclerView.addItemRecyclerView.AddRecyclerViewActivity" />
        <activity android:name=".ui.texts.editTexts.others.OthersActivity" />
        <activity android:name=".audioAndVideo.jnis.JnisActivity" />
        <activity android:name=".audioAndVideo.jnis.javaCallC.JavaCallCActivity" />
        <activity android:name=".functions.database.greenDao.relation.GreenDaoRelationActivity" />
        <activity android:name=".functions.database.greenDao.GreenDaoActivity" />
        <activity android:name=".other.OthersActivity" />
        <activity android:name=".other.compare.CompareActivity" />
        <activity android:name=".audioAndVideo.media.image2video.Image2VideoActivity" />
        <activity android:name=".audioAndVideo.media.image2video.jcodec.JCodecImage2VideoActivity" />
        <activity android:name=".functions.how_create_so.HowCreateSoActivity" />
        <activity android:name=".functions.how_create_so.useCmake.UseCMakeBuildSoActivity" />
        <activity android:name=".functions.how_create_so.useNdkBuild.UseNdkBuildActivity" />
        <activity android:name=".functions.sensors.SharkActivity" />
        <activity android:name=".ui.animation.lottie.LottieActivity" />
        <activity android:name=".functions.sensors.SensorsActivity" />
        <activity android:name=".test.TestActivity" />
        <activity
            android:name=".functions.sensors.testSensorData.TestSensorDataActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".audioAndVideo.detail_Info.DetailInfoActivity" />
        <activity android:name=".audioAndVideo.detail_Info.iamgeInfo.ImageInfoActivity" />
        <activity android:name=".functions.network.NetWorkActivity" />
        <activity android:name=".ui.cardView.CardViewActivity" />
        <activity android:name=".ui.cardView.simpleCardView.SimpleCardViewActivity" />
        <activity
            android:name=".ui.texts.editTexts.customEdittext.CustomEditTextActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".functions.network.mqtt.simple.SimpleMqttActivity" />
        <activity android:name=".ui.animation.explosionAnimation.viewExplosion.ViewExplosionActivity" />
        <activity android:name=".ui.animation.moveAnimation.MoveAnimActivity" />
        <activity android:name=".ui.animation.explosionAnimation.ExplosionActivity" />
        <activity android:name=".ui.animation.explosionAnimation.leonids.LeonidsActivity" />
        <activity android:name=".aaSource.android.os.handler.principle_for_handler.PrincipleHanlderActivity" />
        <activity android:name=".ui.recyclerView.scale_smooth_slide.scale_smooth_slide_one_method.ScaleSmoothSlideOneActivity" />
        <activity android:name=".ui.recyclerView.scale_smooth_slide.scale_smooth_slide_two_method.ScaleSmoothSlideTwoActivity" />
        <activity android:name=".ui.recyclerView.scale_smooth_slide.ScaleSmoothSlideActivity" />
        <activity android:name=".functions.hobbies_and_interests.HobbiesAndInterestsActivity" />
        <activity android:name=".functions.hobbies_and_interests.urlAnalyze.UrlAnalyzeActivity" />
        <activity android:name=".ui.texts.textViews.textShowAnimation.TextShowAnimationActivity" />
        <activity android:name=".functions.hobbies_and_interests.douyinUrl.ADYUrlActivity" />
        <activity
            android:name=".ui.randomAndNoOverLay.RandomAndNoOverLayActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.canvas.CanvasActivity" />
        <activity
            android:name=".ui.canvas.matrix.MatrixActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".ui.canvas.canvas.CanvasPropertyActivity" />

        <service
            android:name=".aaSource.android.accessibilityservice.accessibilityService.MyAccessibilityService"
            android:enabled="true"
            android:exported="true"
            android:label="Aserbao 测试脚本"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/my_accessibility_service" />
        </service>
        <service android:name=".functions.listener.constractListener.ContactIntentService" />
        <service android:name=".aaSource.android.material.floatView.launchWindow.SLaunchFloatWindowService" />

        <activity android:name=".aaSource.android.java.lang.clone.CloneTestActivity" />
        <activity android:name=".opengl.OneOpenGl.texture.es2.ES2TextureAct" />
        <activity android:name=".opengl.OneOpenGl.texture.es2.OpenGL2TextureAct" />
    </application>

</manifest>