<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.aserbao.aserbaosandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="28" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.aserbao.aserbaosandroid.AserbaoApplication"
        android:allowBackup="true"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name="com.aserbao.aserbaosandroid.WelcomeActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.Cameratest.OneCameraActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.OpenGlActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.recyclerview.RecyclerViewActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.HomeActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.aserbao.aserbaosandroid.opengl.OneOpenGl.OneOpenGlActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.FuCameraActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.OpenGlAnimationCamera" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraSurfaceViewShowActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.base.BaseActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.FilterCameraActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.simpleCameraOpengl.simpleOne.CameraOpenglActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.simpleCameraOpengl.simpleFilter.SimpleFilterCameraActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.designMode.strategyMode.StrategyActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.designMode.DesignModeActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.designMode.observerMode.ObserverActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.MediaActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.videoView.VideoViewActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraTextureViewShowActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraShowActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.simpleCameraOpengl.simpleCamera.CameraGlSurfaceShowActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.customView.CustomViewActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.audio.AudioRecordActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.designMode.decoratorPattern.DecoratorActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.mediaplayer.MediaPlayerActivity" />
        <activity
            android:name="com.aserbao.aserbaosandroid.opengl.openGlCamera.recordCamera.RecordCameraActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.mediaMuxer.MediaMuxerActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.designMode.factoryMode.FactoryActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.recyclerview.aEffect.EffectRVActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.mediacodec.mcRecordVideo.MCRecordVideoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.mediacodec.MediaCodecActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.recyclerView.RecyclerViewActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.UIActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.colorPicker.ColorPickerActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.recyclerView.moveToDeleteRecyclerView.MoveToDeleteActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.texts.editTexts.EditTextsActivity" />
        <activity
            android:name="com.aserbao.aserbaosandroid.ui.texts.editTexts.softHeightMeasure.SoftHeightMeasureActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:windowSoftInputMode="adjustPan|stateUnspecified" />
        <!-- android:windowSoftInputMode="adjustNothing" -->
        <activity android:name="com.aserbao.aserbaosandroid.ui.recyclerView.commonRecyclerView.CommonRecyclerViewActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.FunctionsActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.jumpSystemSetting.JumpSystemSettingActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.recyclerView.commonRecyclerView.baseAdapter.BaseAdapterActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.toasts.ToastActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.toasts.aCustomToast.ACustomToastActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.events.EventDealActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.events.scrollEvent.ScrollEventActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.exoplayer.ExoPlayerPActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.exoplayer.playerlist.PlayListActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.texts.textViews.TextViewsActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.texts.textViews.shadowText.TextShadowActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.cache.CacheActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.cache.aSimpleCache.ASimpleCacheActivity" />
        <activity
            android:name="com.aserbao.aserbaosandroid.ui.texts.editTexts.autoAdjustSoftHeight.fullScreen.AutoAdjustSoftHeightActivity"
            android:windowSoftInputMode="adjustResize|stateUnspecified" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.constantUtilsShow.ConstantsUtilsShowActivity" />
        <activity
            android:name="com.aserbao.aserbaosandroid.ui.texts.editTexts.autoAdjustSoftHeight.fullScreen.OneEditTextFullScreenActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.texts.editTexts.autoAdjustSoftHeight.FullDragDemoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.simpleDraw.SimpleDrawActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.texts.TextsActivity" />
        <activity
            android:name="com.aserbao.aserbaosandroid.ui.texts.textViews.picTxt.PicTxtActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.texts.textViews.htmlText.HtmlTextActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.component.activitys.ActivitySummary" />
        <activity android:name="com.aserbao.aserbaosandroid.component.activitys.lifeCycle.LifeCycleActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.component.activitys.lifeCycle.LifeCycle2Activity" />
        <activity android:name="com.aserbao.aserbaosandroid.component.activitys.lifeCycle.LifeCycle3Activity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.texts.textViews.simple.SimpleTextViewActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.database.greenDao.GreenDaoSimpleActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.database.DataBaseActivity" >

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name="com.aserbao.aserbaosandroid.functions.database.mySql.MySqlActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AUtils.utils_realize.AUtilsRealizeActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.animation.AnimationActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.animation.fragments3DAnimation.Fragment3DAnimationActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.animation.recyclerItemAnimation.RecyclerViewItemAnimationActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.animation.cubeAnimation.CubeAnimationActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.events.recyclerviewEvent.RecyclerViewEventActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.iamgePhotoshop.ImagePhotoShopActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.iamgePhotoshop.blur.ImageBlurActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.iamgePhotoshop.compound.CompoundActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.recyclerView.addItemRecyclerView.AddRecyclerViewActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.texts.editTexts.others.OthersActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.test.TestActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.AudioAndVideoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.jnis.JnisActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.jnis.javaCallC.JavaCallCActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.database.greenDao.relation.GreenDaoRelationActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.database.greenDao.GreenDaoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.other.OthersActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.other.compare.CompareActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.image2video.Image2VideoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.media.image2video.jcodec.JCodecImage2VideoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.how_create_so.HowCreateSoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.how_create_so.useNdk.UseNdkBuildSoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.how_create_so.useCmake.UseCMakeBuildSoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.how_create_so.useNdkBuild.UseNdkBuildActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.sensors.SharkActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.animation.lottie.LottieActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.sensors.SensorsActivity" />
        <activity
            android:name="com.aserbao.aserbaosandroid.functions.sensors.testSensorData.TestSensorDataActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.detail_Info.DetailInfoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.AudioAndVideo.detail_Info.iamgeInfo.ImageInfoActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.network.NetWorkActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.network.okhttp.OkhttpActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.cardView.CardViewActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.ui.cardView.simpleCardView.SimpleCardViewActivity" />
        <activity
            android:name="com.aserbao.aserbaosandroid.ui.texts.editTexts.customEdittext.CustomEditTextActivity"
            android:screenOrientation="portrait" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.network.retrofit.RetrofitActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.network.retrofit.simple.SimpleRetrofitActivity" />
        <activity android:name="com.aserbao.aserbaosandroid.functions.ffmpeg.FFmpegActivity" />
    </application>

</manifest>